.cartItem {
    display: flex;
    margin: 10px 20px;
    line-height: 24px;
    position: relative;

    &__deleteBtn {
        width: 24px;
        height: 24px;
        background: url(../../src/icons/closeBtn.svg) no-repeat;
        position: absolute;
        top: -11px;
        left: -10px;
        cursor: pointer;
    }

    &__img {
        width: 140px;
        border-radius: 10px;
    }

    &__info {
        margin-left: 20px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        color: #818d92;
    }

    button {
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__count {
        display: inline;
    }

    &__btn_container {
        display: inline;
        // border-left: 1px solid #818d92;
    }

    &__btn_minus {
        margin-left: 10px;
        margin-right: 10px;
        background: url(../../src/icons/minus_2v.svg) no-repeat center;
        background-size: 100%;
    }

    &__btn_plus {
        background: url(../../src/icons/plus_v2.svg) no-repeat center;
        background-size: 100%;
    }
}
