.product{
    position: relative;
    max-width: 350px;
    font-weight: light;
    line-height: 25px;
    margin-bottom: 50px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all .5s;
    &:hover{
        border: 1px solid rgb(17, 17, 17);
        border-radius: 10px;
        transition: all .9s;
    }

    &__label_discount{
        font-size: 11px;
        background-color: rgb(231, 13, 13);
        padding: 4px 11px;
        top: 10px;
        left: 15px;
        position: absolute;
        border-radius: 4px;
        color: #ffffff;
    }

    &__image{
        max-width: 100%;
        // max-width: 350px;
        // height: 300px;
        border-radius: 15px;
    }

    &__details{
        margin-top: 10px;
        &_brand{
            font-size: 13px;
        }

        &_title{
            font-size: 20px;
        }

        &_oldPrice{
            text-decoration: line-through;
            font-size: 20px;
            color: red;
            font-weight: bold;
        }

        &_price{
            font-size: 20px;
            font-weight: bold;
            &::after{
                content:" \20BD"
            }
        }
    }
}

@media (max-width: 1100px) {
    .product{
        max-width: 300px;
    
        &__details{
            margin-top: 0px;
            &_brand{
                font-size: 13px;
            }
    
            &_title{
                font-size: 20px;
            }
    
            &_oldPrice{
                
            }
    
            &_price{
                
            }
        }
    }
}


@media (max-width: 991px) {
    .product{
        max-width: 350px;

        &__details{
            margin-top: 0px;
            &_brand{
                font-size: 13px;
            }

            &_title{
                font-size: 20px;
            }
    
            &_oldPrice{
                
            }
    
            &_price{
                
            }
        }
    }
}

@media (max-width: 768px){
    .product{
        max-width: 490px;

        &__label_discount{
            font-size: 20px;
            top: 10px;
            left: 15px;
            border-radius: 4px;
            padding: 10px 17px;
        }
        
        &__image{
            max-width: 100%;
            border-radius: 15px;
        }

        &__details{
            margin-top: 0px;
            &_brand{
                font-size: 20px;
            }

            &_title{
                font-size: 30px;
                line-height: 32px;
            }
    
            &_oldPrice{
                font-size: 25px;
            }
    
            &_price{
                font-size: 25px;
            }
        }
    }
}